{% block header %}
    <header class="cnt-center--pd">
        <div class="header-container h-100">
            <nav class="nav">
                <div class="nav-item logo-div"><a href="/index" class="nav-link">
                    <img class="logo-img" src="static/assets/img/loft.png" alt="">
                    Главная</a></div>
                <div class="nav-item"><a href="" class="nav-link">Новости</a></div>
                <div class="nav-item"><a href="" class="nav-link">О нас</a></div>
                <div class="nav-item"><a href="" class="nav-link">Контакты</a></div>
            </nav>
            <button class="login-btn" onclick="location.href='/login'">
                <img src="static/assets/img/sign-in.svg" alt="" class="sign-in">
                <p class="login-text">Войти</p>
            </button>
        </div>
    </header>
{% endblock %}