@import "_mixins";
@import "vendor/reset";
@import "_vars";
@import "vendor/bootstrap/bootstrap";

/* Fonts */
@font-face {
    font-family: "Phenomena";
    src: url("../../../assets/fonts/Phenomena/Phenomena-Thin.ttf");
    font-weight: 100;
}

@font-face {
    font-family: "Phenomena";
    src: url("../../../assets/fonts/Phenomena/Phenomena-ExtraLight.ttf");
    font-weight: 200;
}

@font-face {
    font-family: "Phenomena";
    src: url("../../../assets/fonts/Phenomena/Phenomena-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "Phenomena";
    src: url("../../../assets/fonts/Phenomena/Phenomena-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Phenomena";
    src: url("../../../assets/fonts/Phenomena/Phenomena-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Phenomena";
    src: url("../../../assets/fonts/Phenomena/Phenomena-ExtraBold.ttf");
    font-weight: 800;
}

@font-face {
    font-family: "Phenomena";
    src: url("../../../assets/fonts/Phenomena/Phenomena-Black.ttf");
    font-weight: 900;
}

@font-face {
    font-family: "Lato";
    src: url("../../../assets/fonts/Lato/Lato-Hairline.ttf");
    font-weight: 100;
}

@font-face {
    font-family: "Lato";
    src: url("../../../assets/fonts/Lato/Lato-HairlineItalic.ttf");
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: "Lato";
    src: url("../../../assets/fonts/Lato/Lato-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "Lato";
    src: url("../../../assets/fonts/Lato/Lato-LightItalic.ttf");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Lato";
    src: url("../../../assets/fonts/Lato/Lato-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Lato";
    src: url("../../../assets/fonts/Lato/Lato-Italic.ttf");
    font-weight: 400;
    font-style: italic;
}



/* Styles */
html {
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    background-color: $dark;
}

p {
    color: $primary;
}

a  {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
        color: lighten($primary, 5%) !important;
    }
    
    &:link, &:visited, &:active {

    }
}

hr {
    padding: 0;
    border: none;
}

.time-indicator {
    left: 50%;
    height: 85px;
    width: 576px;
    background-image: url("../../../assets/img/timebar.png");
    position: absolute;
}

.occupied-time {
    height: 62px;
    background-color: #B02B2B;
    position: absolute;
}

button {
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 0;
    border: none;
}

img {
    max-width: 100%;
    height: auto;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

main {
    flex: 1 0 auto;
    
    padding-top: 12rem;
}



/* Blocks */
@import "blocks/header";
@import "blocks/footer";
@import "blocks/info_bar";
@import "blocks/slogan";
