{% extends "base.html" %}
{% block content %}
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://sun7-13.userapi.com/s/v1/ig2/-f969rtsWh5xChXEwKqFAtxgm4JM1VBHxwMCpICtmuSFFKfYUggnLo6wV8iV4f3bb4U6LA73Svov29k-rmCQSYwS.jpg?size=2560x1707&quality=95&type=album" class="d-block w-100">
      </div>
      <div class="carousel-item">
        <img src="https://sun9-1.userapi.com/s/v1/ig2/gPRnHil1vPRCxuGfSf2TavClaDctS4D-aGTkA51o10mRvbs9NlAPYuoD9mInQsABENTSaonC-hN42y8w_N6_ZxyH.jpg?size=2560x1707&quality=95&type=album" class="d-block w-100">
      </div>
      <div class="carousel-item">
        <img src="https://sun9-50.userapi.com/s/v1/ig2/qbQsbZPIXoJlXz7epcl9XstvnsnKql3EqPvqLCEJEpfzKMZunvZu-n-6BvjGP51IQ6pTRhTbDvA6LrPQLmf6wMXL.jpg?size=2560x1707&quality=95&type=album" class="d-block w-100">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="info-bar">
    <div class="info-item">
      <img src="static/assets/img/place.svg" alt="" class="info-icon">
      <p class="info-title">Адрес</p>
      <p class="info-text">ул. Степана Разина,<br>54, Саратов</p>
    </div>
    <div class="info-item">
      <img src="static/assets/img/telephon.svg" alt="" class="info-icon">
      <p class="info-title">Телефон</p>
      <p class="info-text">+7 (937) 818-14-32</p></div>
    <div class="info-item">
      <img src="static/assets/img/clock.svg" alt="" class="info-icon">
      <p class="info-title">Время работы</p>
      <p class="info-text">Круглосуточно</p></div>
    <div class="info-item">
      <img src="static/assets/img/gamepad.svg" alt="" class="info-icon">
      <p class="info-title">Игры</p>
      <p class="info-text">Настольные, xbox, ps<br>и не только...</p></div>
  </div>

  <div class="slogan">
    <p class="slogan-text"><span>Loft</span> - это классическое тайм-кафе. Это зона, свободная от табака и алкоголя. Мы не продаем еду и напитки за деньги, мы сосредоточены на том, как сделать времяпрепровождение наших Гостей более комфортным.</p>
    <div class="corner corner-top"></div>
    <div class="corner corner-bottom"></div>
  </div>
{% endblock %}