{% extends "base.html" %}

{% block content %}
    <div class="auth-div cnt-center--mg">
        <p class="auth-title title-shadow">Авторизация</p>
        <form class="auth-form" action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.phone.label }}<br>
                {{ form.phone(class="form-control", type="text", placeholder="+7 (927) 000-00-00") }}<br>
                {% for error in form.phone.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            </p>
            <p>
                {{ form.password.label }}<br>
                {{ form.password(class="form-control", type="password", placeholder="Пароль") }}<br>
                {% for error in form.password.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            </p>
            <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
            <label for="remember_me"></label>
            <p>{{ form.submit(type="submit", class="btn btn-primary") }}
                <span class="register-span">Впервые здесь?
                    <a href="/register">Регистрация</a>
                </span>
            </p>
            <div>{{ message }}</div>
        </form>
    </div>
{% endblock %}
