{% extends "base.html" %}

{% block content %}
<div class="register-div cnt-center--mg">
<p class="register-title title-shadow">Регистрация</h1>
    <form class="register-form" action="" method="post">
        {{ form.hidden_tag() }}

        {{ form.phone.label }} <br>
        {{ form.phone(class="form-control", type="text") }} <br>
        {% for error in form.phone.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}

        {{ form.password.label }} <br>
        {{ form.password(class="form-control", type="password") }} <br>
        {% for error in form.password.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}

        {{ form.password_again.label }} <br>
        {{ form.password_again(class="form-control", type="password") }} <br>
        {% for error in form.password_again.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}

        {{ form.surname.label }} <br>
        {{ form.surname(class="form-control") }} <br>
        {% for error in form.surname.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}

        {{ form.name.label }} <br>
        {{ form.name(class="form-control") }} <br>
        {% for error in form.name.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}

        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        <p class="message">{{ message }}</p>
    </form>
</div>
    
{% endblock %}
